h1{ text-align: center; color: #015366;text-decoration:overline	;
font-family: Brush Script MT, Brush Script Std, cursive;}
p{text-align: left;font-family: Andale Mono, monospace;color: black; }
.color{color: #00718F;}
